$font-family: 'Bitter';
$font-hover-color: #5f5b5bdc;
$font-color: #c6c6c6;
$font-color-dark: #231201;
$background-color: #f8f9fa;

html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-family;
  font-size: 14px;
  line-height: 1.5;
  color: #333;
  background-color: $background-color;
  margin: 0;
  padding: 0;
}

a {
  color: $font-color;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}