@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap');

$font-family: 'Bitter';
$font-hover-color: #5f5b5bdc;
$font-color: #c6c6c6;
$font-color-dark: #160c03da;
$background-color: #f8f9fa;

html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-family;
  font-size: 14px;
  line-height: 1.5;
  color: #333;
  background-color: $background-color;
  margin: 0;
  padding: 0;
}

a {
  color: $font-color;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}
html, body { height: 100%; }

