.catalog {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 50px;
  
  .catalog__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)); 
    column-gap: 10px;
    row-gap: 15px;
    justify-content: space-between;
    padding: 0 50px;

    @media (max-width: 490px) {
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
    }
  }
}