@import '../../../../styles.scss';

.vision-section {
  display: flex;
  flex-direction: column;

  .vision-section__content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;

    .content__image,
    .content__text {
      width: 50%;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
    }

    .content__image {
      aspect-ratio: 1 / 1;
      overflow: hidden;

      img {
        width: 100%;
        object-fit: contain;
        transform: scale(1.5) translateY(90px);
        filter: brightness(0.7);
        border-radius: 3px;
      }
    }

    .content__text {
      aspect-ratio: 1 / 1;
      font-size: clamp(1rem, 2vw, 2rem);
      font-weight: 200;
      color: $font-color-dark;
      padding: 1.5rem;
      text-align: center;
      box-sizing: border-box;
    }
  }

  /* Четные карточки */
  .vision-section__content:nth-child(even) {
    flex-direction: row-reverse;

    .content__image .card-button {
      left: 0;
      right: initial;
    }
  }
}

.card-button {
  background-color: $background-color;
  color: $font-color-dark;
  font-family: 'Bitter';
  padding: 10px 10px;
  width: 165px;
  border-radius: 2px;
  font-size: clamp(0.8rem, 2vw, 1.3rem);
  font-weight: 300;
  text-align: center;
  position: absolute;
  bottom: 0;
  right: 0;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;

  &:hover {
    background-color: transparent;
    color: $background-color;
  }
}
