@import '../../../../styles.scss';

.preview-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .preview-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr)); 
    column-gap: 10px;
    row-gap: 15px;
    justify-content: center;
    padding: 50px 0;

    @media screen and (max-width: 710px) {
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
    }
    @media screen and (max-width: 510px) {
      grid-template-columns: repeat(auto-fill, minmax(180px, 1fr)); 
    }

    .preview {
      display: flex;
      flex-direction: column;
      overflow: hidden;
      position: relative;
      padding: 0px;
      width: 100%;
      height: 100%;

      .card-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .card-button {
        background-color: $background-color;
        color: $font-color-dark;
        font-family: 'Bitter';
        padding: 3px 5px;
        width: 165px;
        text-align: center;
        font-size: 1.3em;
        font-weight: 300;
        position: absolute;
        bottom: 0;
        right: 0;
        border-radius: 2px;
        cursor: pointer;
        transition: background-color 0.3s ease, color 0.3s ease;
        border: none;

        &:hover {
          background-color: transparent;
          color: $background-color;
        }
      }
    }
  }
}
