<div class="product-card">
  <div class="product-card__image">
    <swiper-container
      navigation="true"
      pagination="true"
      pagination-clickable="true"
      loading="lazy">
      <swiper-slide *ngFor="let photo of card.itemInfo[selectedColorIndex].photos; let i = index" (click)="openModal(i)">
        <img [src]="photo" [alt]="card.itemName"/>
      </swiper-slide>
    </swiper-container>
  </div>

  <div class="product-card__info">
    <h3 class="product-card__info__title">{{ card.itemName }}</h3>
    <p class="product-card__info__price">{{ card.itemInfo[selectedColorIndex].price }}</p>

    <div class="product-card__info__colors">
      <span 
        class="color-circle" 
        *ngFor="let color of card.itemInfo; let i = index" 
        (click)="selectColor(i)"
        [class.active]="i === selectedColorIndex">
        <img [src]="color.colorImg" [alt]="color.colorName">
      </span>
    </div>
  </div>

  <app-image-modal 
    *ngIf="showModal"
    [images]="card.itemInfo[selectedColorIndex].photos"
    [name]="card.itemName"
    [initialSlide]="initialSlideIndex"
    (closeModalEvent)="closeModal()">
  </app-image-modal>
</div>

