<div class="product-card">
  <div class="product-card__image">
    <img src="../../../../assets/desc_1.JPG" alt="Product Name"/>
  </div>
  <h3 class="product-card__title">Название товара</h3>
  <p class="product-card__price">$123.45</p>
  <div class="product-card__colors">
    <span class="color-circle" style="background-color: #FF0000;"></span>
    <span class="color-circle" style="background-color: #00FF00;"></span>
    <span class="color-circle" style="background-color: #0000FF;"></span>
  </div>
</div>
